<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Signup</title>
  </head>
  <body>
    <%- include('partials/nav') %>

    <div class="container mt-4">
      <form action="/user/signup" method="POST">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input
            type="text"
            name="fullName"
            class="form-control"
            id="fullName"
            aria-describedby="fullName"
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            aria-describedby="email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('partials/script') %>
  </body>
</html>
